@page
@model Almoxarifado.Pages.Cadastros.Fornecedor.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="text-danger bg-warning text-center">
    <h1>ATENÇÃO</h1>
    <h3>Você tem certeza que deseja excluir?</h3>
</div>
<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Numero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Complemento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Complemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Bairro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Bairro)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.Pais)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.Pais)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.GFornecedor.CEP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.GFornecedor.CEP)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="GFornecedor.Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="btn btn-secondary" asp-page="./Index">Voltar</a>
    </form>
</div>
